structlog
py-cpuinfo==9.0.0
wget
# for Whisper
openai-whisper==20240930
faster-whisper==1.1.0
whisperx==3.3.1
whisper-timestamped==1.15.8
matplotlib
ffmpeg-python==0.2.0
# for Demucs
demucs==4.0.1
invisible-watermark
fonts
font-roboto
# gradio
gradio==5.14.0
numpy<2
pydantic==2.9.1
yt-dlp==2025.09.26
browser_cookie3
json5
more_itertools
pyyaml
pandas==1.5.0
Cython
huggingface-hub==0.27.1
cached_path==1.6.7
# one-click
tqdm
markdown
rich
ntplib
# mdx
librosa==0.9.1
# tts
edge-tts
python-iso639
deep-translator
pysubs2
lingua-language-detector

# PyTorch 2.5.1
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
# etc
onnxruntime-gpu==1.20.1
nvidia-cudnn-cu12==8.9.7.29